@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  /* colores */
  --c-red: #ff5757;
  --c-yellow: #ffb01f;
  --c-green: #00bd91;
  --c-blue: #1125d4;
  --c-white: #ffffff;
  --c-pale-blue: #ebf1ff;
  --c-light-lavender: #c8c7ff;
  --c-dark-gray-blue: #303b5a;
  --c-light-slate-blue-bg: #7857ff;
  --c-light-royal-blue-bg: #2e2be9;
  --c-violet-bblue-circle: #4e21ca;
  --c-persian-blue-circle: #2421ca00;
  --c-rgba-blue: rgba(48, 59, 90, 0.5);
  --card-red-rgba: rgba(255, 87, 87, 0.1);
  --card-yellow-rgba: rgba(255, 176, 31, 0.1);
  --card-green-rgba: rgba(0, 189, 145, 0.1);
  --card-blue-rgba: rgba(17, 37, 212, 0.1);
  --c-text: var(--c-dark-gray-blue);
  --c-text-blue-light: var(--c-light-lavender);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
  color: var(--c-text);
  display: flex;
  justify-content: center;
}

h1 {
  line-height: 1;
}

.card {
  width: 100%;
  max-width: 375px;
}

.result {
  background: rgb(46, 43, 233);
  background: linear-gradient(
    0deg,
    rgba(46, 43, 233, 1) 35%,
    rgba(120, 87, 255, 1) 100%
  );
  color: var(--c-white);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  padding: 1.625rem 3.75rem 2.5rem;
  border-radius: 0 0 2rem 2rem;
  color: var(--c-white);
}

.result h1 {
  font-size: 1.125rem;
  color: var(--c-text-blue-light);
}

.result-cicle {
  background: rgb(36, 33, 202);
  background: linear-gradient(
    to bottom,
    rgba(78, 33, 202, 1),
    rgba(36, 33, 202, 0)
  );
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 11px;
}

.result-cicle p {
  font-size: 3.4375rem;
  font-weight: 800;
}

.result-cicle span {
  font-size: 0.8rem;
  color: var(--c-text-blue-light);
}

.result-text h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.result-text p {
  font-size: 0.9rem;
  color: var(--c-text-blue-light);
}
/*
.summary * {
  outline: 1px solid red;
} */
.summary {
  padding: 1.5rem 1.875rem 1.875rem;
}

.summary h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.summary .box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary .box-summary {
  padding: 1.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.summary .box-name p {
  font-weight: 700;
}

.summary .box-number {
  color: var(--c-dark-gray-blue);
  font-weight: 700;
}

.summary .box-number span {
  color: var(--c-rgba-blue);
}

.box-summary:nth-child(1) {
  color: var(--c-red);
  background-color: var(--card-red-rgba);
}
.box-summary:nth-child(2) {
  color: var(--c-yellow);
  background-color: var(--card-yellow-rgba);
}
.box-summary:nth-child(3) {
  color: var(--c-green);
  background-color: var(--card-green-rgba);
}
.box-summary:nth-child(4) {
  color: var(--c-light-royal-blue-bg);
  background-color: var(--card-blue-rgba);
}

.box-name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn-primary {
  margin-top: 1.5rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-dark-gray-blue);
  border-radius: 2rem;
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
}

.btn-primary:hover {
  background: rgb(46, 43, 233);
  background: linear-gradient(
    0deg,
    rgba(46, 43, 233, 1) 35%,
    rgba(120, 87, 255, 1) 100%
  );
}

.attribution {
  position: absolute;
  bottom: 2rem;
  margin-top: 2rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 750px) {
  body {
    align-items: center;
  }
  .card {
    max-width: 46rem;
    display: flex;
    border-radius: 2rem;
    box-shadow: 10px 10px 23px -10px rgba(48, 59, 90, 0.5);
  }

  .result {
    width: 50%;
    border-radius: 2rem;
    padding: 45px 61px 55px;
  }

  .summary {
    width: 50%;
    padding: 61px 40px;
  }

  .result h1 {
    font-size: 23px;
  }

  .result-cicle {
    width: 200px;
    height: 200px;
    gap: 0.75rem;
  }
  .result-cicle p {
    font-size: 70px;
  }
  .result-cicle span {
    font-size: 18px;
  }

  .result-text h2 {
    font-size: 2rem;
  }
  .result-text p {
    font-size: 18px;
  }
}
